@import url('https://fonts.googleapis.com/css2?family=Arimo');

:root{
    --secondary-dark: #393E46;

    --color-white: #EEEEEE;
    --color-black: #000000;
    --color-blue: #CCD5FF;
    --color-orange: #F49E4C;
    --color-dark-green: #61fff4;
    --color-light-green: #82ffd9;
    --color-pink: #fc7998;
    --color-red: #ff6e3d;
}

body {
    font-family: 'Arimo', sans-serif;
    margin: auto;
    padding: 40px;
    max-width: 75ch;
    text-align: left;
    background-color: var(--color-blue);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
}
footer {
    margin-top: auto;
}
a {
    display: inline-block;
    position: relative;
    margin: 4px 8px;
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
a::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
a:hover {
    color: #95a5a6;
    text-decoration: none;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

a.active{
    font-weight: bolder;
}
hr {
    border-color: var(--color-blue);
    margin: 1rem 0;
}
nav a {
    margin-right: 10px;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
content {
    line-height: 1.6;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
code {
    padding: 2px 5px;
    background-color: var(--color-white);
    color: var(--color-black);
}
pre {
    padding: 1rem;
}
pre > code {
    all: unset;
}
blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 0 2px 20px;
    margin: 0;
    font-style: italic;
}
main {
    margin-bottom: 40px;
    background: var(--color-white);
    padding: 8px 16px;
}

.mb-0 {
    margin-bottom: 0;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sketchy-border {
    position: relative;
}
.sketchy-border svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@view-transition {
    navigation: auto;
    types: slide, forwards;
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/.hljs-comment,.hljs-meta{color:#565f89}.hljs-deletion,.hljs-doctag,.hljs-regexp,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-tag,.hljs-template-tag,.hljs-variable.language_{color:#f7768e}.hljs-link,.hljs-literal,.hljs-number,.hljs-params,.hljs-template-variable,.hljs-type,.hljs-variable{color:#ff9e64}.hljs-attribute,.hljs-built_in{color:#e0af68}.hljs-keyword,.hljs-property,.hljs-subst,.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#7dcfff}.hljs-selector-tag{color:#73daca}.hljs-addition,.hljs-bullet,.hljs-quote,.hljs-string,.hljs-symbol{color:#9ece6a}.hljs-code,.hljs-formula,.hljs-section{color:#7aa2f7}.hljs-attr,.hljs-char.escape_,.hljs-keyword,.hljs-name,.hljs-operator{color:#bb9af7}.hljs-punctuation{color:#c0caf5}.hljs{background:#1a1b26;color:#9aa5ce}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
